Data analysis using Python (Pandas) on HR sample schema - Oracle database 11g by the new python-oracledb API.
<br>This analysis calculates total salaries for each job title and for each department.

To Install Required Libraries:

In [1]:
# !python -m pip install oracledb --upgrade
# !pip install pandas
# !pip install sqlalchemy

In [2]:
import oracledb
import pandas as pd
import sqlalchemy

To enable thick mode:

In [3]:
oracledb.init_oracle_client()

To load SQL Magic:

In [4]:
%load_ext sql

In [5]:
%sql oracle+oracledb://hr:hr@192.168.117.137:1521/?service_name=orcl

In [6]:
%%sql
select e.first_name, e.last_name, e.salary, j.job_title, d.department_name
from employees e left outer join departments d
on (e.department_id = d.department_id)
join jobs j
on (e.job_id = j.job_id)
order by e.salary desc, j.job_title, d.department_name

 * oracle+oracledb://hr:***@192.168.117.137:1521/?service_name=orcl
0 rows affected.

[('Steven', 'King', Decimal('24000'), 'President', 'Executive'),
 ('Neena', 'Kochhar', Decimal('17000'), 'Administration Vice President', 'Executive'),
 ('Lex', 'De Haan', Decimal('17000'), 'Administration Vice President', 'Executive'),
 ('John', 'Russell', Decimal('14000'), 'Sales Manager', 'Sales'),
 ('Karen', 'Partners', Decimal('13500'), 'Sales Manager', 'Sales'),
 ('Michael', 'Hartstein', Decimal('13000'), 'Marketing Manager', 'Marketing'),
 ('Shelley', 'Higgins', Decimal('12000'), 'Accounting Manager', 'Accounting'),
 ('Nancy', 'Greenberg', Decimal('12000'), 'Finance Manager', 'Finance'),
 ('Alberto', 'Errazuriz', Decimal('12000'), 'Sales Manager', 'Sales'),
 ('Lisa', 'Ozer', Decimal('11500'), 'Sales Representative', 'Sales'),
 ('Den', 'Raphaely', Decimal('11000'), 'Purchasing Manager', 'Purchasing'),
 ('Gerald', 'Cambrault', Decimal('11000'), 'Sales Manager', 'Sales'),
 ('Ellen', 'Abel', Decimal('11000'), 'Sales Representative', 'Sales'),
 ('Eleni', 'Zlotkey', Decimal('10500'), 'Sales Manager', 'Sales'),
 ('Clara', 'Vishney', Decimal('10500'), 'Sales Representative', 'Sales'),
 ('Hermann', 'Baer', Decimal('10000'), 'Public Relations Representative', 'Public Relations'),
 ('Peter', 'Tucker', Decimal('10000'), 'Sales Representative', 'Sales'),
 ('Janette', 'King', Decimal('10000'), 'Sales Representative', 'Sales'),
 ('Harrison', 'Bloom', Decimal('10000'), 'Sales Representative', 'Sales'),
 ('Tayler', 'Fox', Decimal('9600'), 'Sales Representative', 'Sales'),
 ('David', 'Bernstein', Decimal('9500'), 'Sales Representative', 'Sales'),
 ('Patrick', 'Sully', Decimal('9500'), 'Sales Representative', 'Sales'),
 ('Danielle', 'Greene', Decimal('9500'), 'Sales Representative', 'Sales'),
 ('Daniel', 'Faviet', Decimal('9000'), 'Accountant', 'Finance'),
 ('Alexander', 'Hunold', Decimal('9000'), 'Programmer', 'IT'),
 ('Peter', 'Hall', Decimal('9000'), 'Sales Representative', 'Sales'),
 ('Allan', 'McEwen', Decimal('9000'), 'Sales Representative', 'Sales'),
 ('Alyssa', 'Hutton', Decimal('8800'), 'Sales Representative', 'Sales'),
 ('Jonathon', 'Taylor', Decimal('8600'), 'Sales Representative', 'Sales'),
 ('Jack', 'Livingston', Decimal('8400'), 'Sales Representative', 'Sales'),
 ('William', 'Gietz', Decimal('8300'), 'Public Accountant', 'Accounting'),
 ('John', 'Chen', Decimal('8200'), 'Accountant', 'Finance'),
 ('Adam', 'Fripp', Decimal('8200'), 'Stock Manager', 'Shipping'),
 ('Christopher', 'Olsen', Decimal('8000'), 'Sales Representative', 'Sales'),
 ('Lindsey', 'Smith', Decimal('8000'), 'Sales Representative', 'Sales'),
 ('Matthew', 'Weiss', Decimal('8000'), 'Stock Manager', 'Shipping'),
 ('Payam', 'Kaufling', Decimal('7900'), 'Stock Manager', 'Shipping'),
 ('Jose Manuel', 'Urman', Decimal('7800'), 'Accountant', 'Finance'),
 ('Ismael', 'Sciarra', Decimal('7700'), 'Accountant', 'Finance'),
 ('Louise', 'Doran', Decimal('7500'), 'Sales Representative', 'Sales'),
 ('Nanette', 'Cambrault', Decimal('7500'), 'Sales Representative', 'Sales'),
 ('William', 'Smith', Decimal('7400'), 'Sales Representative', 'Sales'),
 ('Elizabeth', 'Bates', Decimal('7300'), 'Sales Representative', 'Sales'),
 ('Mattea', 'Marvins', Decimal('7200'), 'Sales Representative', 'Sales'),
 ('Oliver', 'Tuvault', Decimal('7000'), 'Sales Representative', 'Sales'),
 ('Sarath', 'Sewall', Decimal('7000'), 'Sales Representative', 'Sales'),
 ('Kimberely', 'Grant', Decimal('7000'), 'Sales Representative', None),
 ('Luis', 'Popp', Decimal('6900'), 'Accountant', 'Finance'),
 ('David', 'Lee', Decimal('6800'), 'Sales Representative', 'Sales'),
 ('Susan', 'Mavris', Decimal('6500'), 'Human Resources Representative', 'Human Resources'),
 ('Shanta', 'Vollman', Decimal('6500'), 'Stock Manager', 'Shipping'),
 ('Sundar', 'Ande', Decimal('6400'), 'Sales Representative', 'Sales'),
 ('Charles', 'Johnson', Decimal('6200'), 'Sales Representative', 'Sales'),
 ('Amit', 'Banda', Decimal('6200'), 'Sales Representative', 'Sales'),
 ('Sundita', 'Kumar', Decimal('6100'), 'Sales Representative', 'Sales'),
 ('Pat', 'Fay', Decimal('6000'), 'Marketing Representative', 'Marketing'),
 ('Bruce', 'Ernst', Decimal('6000'), 'Programmer', 'IT'),
 ('Kevin', 'Mourgos', Decimal('5800'), 'Stock Manager', 'Shipping'),
 ('Valli', 'Pataballa', Decimal('4800'), 'Programmer', 'IT'),
 ('David', 'Austin', Decimal('4800'), 'Programmer', 'IT'),
 ('Jennifer', 'Whalen', Decimal('4400'), 'Administration Assistant', 'Administration'),
 ('Diana', 'Lorentz', Decimal('4200'), 'Programmer', 'IT'),
 ('Nandita', 'Sarchand', Decimal('4200'), 'Shipping Clerk', 'Shipping'),
 ('Alexis', 'Bull', Decimal('4100'), 'Shipping Clerk', 'Shipping'),
 ('Sarah', 'Bell', Decimal('4000'), 'Shipping Clerk', 'Shipping'),
 ('Britney', 'Everett', Decimal('3900'), 'Shipping Clerk', 'Shipping'),
 ('Kelly', 'Chung', Decimal('3800'), 'Shipping Clerk', 'Shipping'),
 ('Jennifer', 'Dilly', Decimal('3600'), 'Shipping Clerk', 'Shipping'),
 ('Renske', 'Ladwig', Decimal('3600'), 'Stock Clerk', 'Shipping'),
 ('Trenna', 'Rajs', Decimal('3500'), 'Stock Clerk', 'Shipping'),
 ('Julia', 'Dellinger', Decimal('3400'), 'Shipping Clerk', 'Shipping'),
 ('Jason', 'Mallin', Decimal('3300'), 'Stock Clerk', 'Shipping'),
 ('Laura', 'Bissot', Decimal('3300'), 'Stock Clerk', 'Shipping'),
 ('Winston', 'Taylor', Decimal('3200'), 'Shipping Clerk', 'Shipping'),
 ('Samuel', 'McCain', Decimal('3200'), 'Shipping Clerk', 'Shipping'),
 ('Julia', 'Nayer', Decimal('3200'), 'Stock Clerk', 'Shipping'),
 ('Stephen', 'Stiles', Decimal('3200'), 'Stock Clerk', 'Shipping'),
 ('Alexander', 'Khoo', Decimal('3100'), 'Purchasing Clerk', 'Purchasing'),
 ('Alana', 'Walsh', Decimal('3100'), 'Shipping Clerk', 'Shipping'),
 ('Jean', 'Fleaur', Decimal('3100'), 'Shipping Clerk', 'Shipping'),
 ('Curtis', 'Davies', Decimal('3100'), 'Stock Clerk', 'Shipping'),
 ('Kevin', 'Feeney', Decimal('3000'), 'Shipping Clerk', 'Shipping'),
 ('Anthony', 'Cabrio', Decimal('3000'), 'Shipping Clerk', 'Shipping'),
 ('Shelli', 'Baida', Decimal('2900'), 'Purchasing Clerk', 'Purchasing'),
 ('Timothy', 'Gates', Decimal('2900'), 'Shipping Clerk', 'Shipping'),
 ('Michael', 'Rogers', Decimal('2900'), 'Stock Clerk', 'Shipping'),
 ('Sigal', 'Tobias', Decimal('2800'), 'Purchasing Clerk', 'Purchasing'),
 ('Vance', 'Jones', Decimal('2800'), 'Shipping Clerk', 'Shipping'),
 ('Girard', 'Geoni', Decimal('2800'), 'Shipping Clerk', 'Shipping'),
 ('Mozhe', 'Atkinson', Decimal('2800'), 'Stock Clerk', 'Shipping'),
 ('John', 'Seo', Decimal('2700'), 'Stock Clerk', 'Shipping'),
 ('Irene', 'Mikkilineni', Decimal('2700'), 'Stock Clerk', 'Shipping'),
 ('Guy', 'Himuro', Decimal('2600'), 'Purchasing Clerk', 'Purchasing'),
 ('Douglas', 'Grant', Decimal('2600'), 'Shipping Clerk', 'Shipping'),
 ('Donald', 'OConnell', Decimal('2600'), 'Shipping Clerk', 'Shipping'),
 ('Randall', 'Matos', Decimal('2600'), 'Stock Clerk', 'Shipping'),
 ('Karen', 'Colmenares', Decimal('2500'), 'Purchasing Clerk', 'Purchasing'),
 ('Martha', 'Sullivan', Decimal('2500'), 'Shipping Clerk', 'Shipping'),
 ('Randall', 'Perkins', Decimal('2500'), 'Shipping Clerk', 'Shipping'),
 ('Peter', 'Vargas', Decimal('2500'), 'Stock Clerk', 'Shipping'),
 ('James', 'Marlow', Decimal('2500'), 'Stock Clerk', 'Shipping'),
 ('Joshua', 'Patel', Decimal('2500'), 'Stock Clerk', 'Shipping'),
 ('Ki', 'Gee', Decimal('2400'), 'Stock Clerk', 'Shipping'),
 ('James', 'Landry', Decimal('2400'), 'Stock Clerk', 'Shipping'),
 ('Hazel', 'Philtanker', Decimal('2200'), 'Stock Clerk', 'Shipping'),
 ('Steven', 'Markle', Decimal('2200'), 'Stock Clerk', 'Shipping'),
 ('TJ', 'Olson', Decimal('2100'), 'Stock Clerk', 'Shipping')]

In [7]:
%%sql
select j.job_title, sum(e.salary)
from employees e join jobs j
on (e.job_id = j.job_id)
group by j.job_title
order by sum(e.salary) desc

 * oracle+oracledb://hr:***@192.168.117.137:1521/?service_name=orcl
0 rows affected.

[('Sales Representative', 250500),
 ('Shipping Clerk', 64300),
 ('Sales Manager', 61000),
 ('Stock Clerk', 55700),
 ('Accountant', 39600),
 ('Stock Manager', 36400),
 ('Administration Vice President', 34000),
 ('Programmer', 28800),
 ('President', 24000),
 ('Purchasing Clerk', 13900),
 ('Marketing Manager', 13000),
 ('Finance Manager', 12000),
 ('Accounting Manager', 12000),
 ('Purchasing Manager', 11000),
 ('Public Relations Representative', 10000),
 ('Public Accountant', 8300),
 ('Human Resources Representative', 6500),
 ('Marketing Representative', 6000),
 ('Administration Assistant', 4400)]

In [8]:
%%sql
select d.department_name, sum(e.salary)
from employees e left outer join departments d
on (e.department_id = d.department_id)
group by d.department_name
order by sum(e.salary) desc

 * oracle+oracledb://hr:***@192.168.117.137:1521/?service_name=orcl
0 rows affected.

[('Sales', 304500),
 ('Shipping', 156400),
 ('Executive', 58000),
 ('Finance', 51600),
 ('IT', 28800),
 ('Purchasing', 24900),
 ('Accounting', 20300),
 ('Marketing', 19000),
 ('Public Relations', 10000),
 (None, 7000),
 ('Human Resources', 6500),
 ('Administration', 4400)]